*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/schemas/be.samuel.gamehistorique.database.GameHistoriqueDatabase/4.json

Cahier_charges_Jacquemin.docx

accueil.drawio

~$hier_charges_Jacquemin.docx

~WRL0323.tmp
